%div{class: 'navbar navbar-fixed-top'}
  %a{class: 'navbar-brand', href: '/'} Skellington

  %ul{:class => 'nav navbar-nav'}
    %li
      %a{href: 'https://github.com/audy/skellington'} View Source on GitHub...
