%header{class: 'hero-unit'}
  %div.inner
    %h1 Database Statistics
    %p="#{User.count} users."
    %p="#{Genome.count} genomes."
    %p="#{Feature.count} features."
    %p="#{Scaffold.count} scaffolds."
