%h2.page-header Welcome

%p
  Welcome to Genome Explorer.

:markdown
  To get an idea what this website is about, check out a [genome](/genomes/14),
  a [protein-coding gene](/genomes/14/features/33402), or maybe look at a
  [graph](/genome_relationships?genome_id=14).

  This site is an experiment being built by [Austin G.
  Davis-Richardson](http://agdr.co).

- last = Genome.order(created_at: :desc).first
- unless last.nil?
  %h3
    Latest Genome
  %em
    = link_to "#{last.organism}", genome_path(last)
  added #{time_ago_in_words(last.created_at)} ago.
