%h2.page-header Welcome

%p
  Welcome to Genome Explorer.

%p
  Genome Explorer mimics a social network where microbes become "friends" by
  sharing genetic material. The goal of Genome Explorer is to make comparative
  bacterial genomics interactive, intuitive and enjoyable. 

%p
  This is an ongoing experiment by <a href="http://agdr.org">Austin G. Davis-Richardson</a>.

%p
  Genome Explorer is Open Source. Fork it on <a href="https://github.com/audy/genome-explorer">GitHub</a>.

- last = Genome.order(created_at: :desc).first
- unless last.nil?
  %h3
    Latest Genome
  %em
    = link_to "#{last.organism}", genome_path(last)
  added #{time_ago_in_words(last.created_at)} ago.
