body {
  margin-top: 60px;
  background: #fefefe;
}

.navbar {
  background-color: #ffee33;
}

.navbar a {
  color: #000;
}

.logo span {
  display: block;
  background-color #000;
  border-radius: 50%;
}

.img-profile {
  border: 5px solid #efefef;
}
