@import "bootstrap-sprockets";
@import "bootstrap";
@import "rails_bootstrap_forms";


body {
  padding-top: 60px;
}

.navbar {
  background-color: #ffee33;
}

.navbar a {
  color: #000;
}

.img-avatar {
  width: 100%;
  border: 6px solid #eee;
}

/* Sticky Footer Styles */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding: 20px;
}
